<div class="col-sm-6 mx-auto">
  <div class="container">
    <h1 class="gradient-text-2">Blog details</h1>

    <!-- Blog id - {{ blogId }} -->

    <div class="card mb-3 p-3 mt-3">
      <h2>{{ blogData.title }}</h2>
      <p>{{ blogData.content }}</p>
      <p>Author: {{ blogData.author }}</p>
      <div style="text-align: center">
        <button class="btn btn-secondary" (click)="editBlog()">Edit</button>
        &nbsp;
        <button class="btn btn-danger" (click)="deleteBlog()">Delete</button>
      </div>
    </div>
  </div>
</div>

<!-- <a [routerLink]="'/blogedit/' + blogData.id"></a> -->
